$primary: #2c4c9c;
$secondary: #3F4254;
$accent: grey;
$error: #ff5252;
$info: #1976d2;
$success: #4caf50;
$warning: #fb8c00;
$heading: #90a4ae;
$sub-heading: #90a4ae;
$text-color:  #91939F;
$background: #e8f1fb;
